.Sections {
    text-align: left;
    margin: 0 10px 0 10px;
    width: 80%;
    border: none;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sections h2 {
    text-align: center;
}

.Sections p {
    text-transform: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.Skills {
    width: 90%;
}

.SMColor {
    color: black;
}

.Bio {
    width: 70%;
    line-height: 1.8em;
    letter-spacing: 0.03em;
}

@media (max-width: 550px) {
    .Bio {
        width: 90%;
    }

    .Sections {
        width: 98%;
    }

    .Skills {
        width: 90%;
    }
}

@media (max-width: 375px) {

    .Skills {
        width: 90%;
    }
}

