.app-images {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.app-images1 {
    width: 70%;
    border-radius: 30px;
}

.app-images2 {
    width: 70%;
    border-radius: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media (min-width: 500px) {

    .app-images1 {
        width: 30%;
    }
    
    .app-images2 {
        width: 30%;
    }
}