.Images {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.Images1 {
    width: 90%;
    margin-bottom: 20px;
}

.Images2 {
    width: 90%;
}

.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media (min-width: 500px) {

    .Images1 {
        width: 40%;
        margin-bottom: 0;
    }
    
    .Images2 {
        width: 40%;
    }
}