.Card {
    margin-bottom: 50px;
}

.Images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Images img {
    width: 90%;
    margin-bottom: 20px;
}

@media (min-width: 500px) {
    .img {
        width: 70%;
    }
}