.ListItem {
    height: 20px;
    line-height: 33px !important;
    margin: 0.5rem;
    border: 1px solid #F0F0F0;
    padding: 4px;
    display: flex;
    align-items: center;
}

.ListItem p {
    font-size: 13px;
}

@media (max-width: 310px) {
    .ListItem p {
        font-size: 11px !important;
    }
}




