.icon {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 5px;
}

@media (max-width: 450px) {
    .icon {
        justify-content: flex-end;
        margin-top: -72px;
    }
}

